<form id='search-card-form'>
	<input type='text' id='search-card-input' placeholder='Search...' />
</form>

<div id='deck-builder-view'>
	<section id='card-view'>
		{{#each cards as |card|}}
		<img src='{{card.imageUrl}}' data-imageurl={{card.imageUrl}} data-multiverseId='{{card.multiverseid}}' />
		{{/each}}
	</section>

	<section id='deck-view'>
		<ul id='card-list' class='list-group'>
			<h3 id='deck-name' class='list-group-item mb-0'>{{deck.name}}</h3>
			{{#each deck.cards as |card|}}
			<li class='list-group-item' data-imageUrl={{card.imageUrl}} data-multiverseId='{{card.multiverseid}}'>{{card.name}}</li>
			{{/each}}
		</ul>
	</section>
</div>

<script src='/js/build-script.js'></script>